*{
    margin: 0px;
    padding: 0px;
}
#background{
    background-image: url("logincandy.jpg");
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    position: inline-block;
}
#mainbody{
    margin-top: -500px;
    position: relative;
}