<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Index</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/login/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <style>
        .container{
            background-image: url("/static/login/css/logincandy.jpg");
            padding: 40px;
        }
        .form-control input{
            background-color: transparent;

        }
        #logout{
            position: inline-block;
            margin-left: 780px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
<div class='container'>
	<h1>Welcome!</h1>
    <h2>Register</h2>
    <div id="logout">
   <a href="{% url 'main-page' %}">Back</a>
    </div>
	<form class="form-group inline " action='/login/register' method='post'>
        {% csrf_token %}
        <p>First Name: <input class="form-control" type="text" name='first_name'></p>
        <p>Last Name: <input class="form-control" type="text" name='last_name'></p>
        <p>Email: <input class="form-control" type="text" name='email'></p>
        <p>Password:</p> <input class="form-control" type="password" name='password'></p>
        <p>*Password shoud be at least 8 Characters</p>
        <p>Confirm Password:</p> <input class="form-control" type="password" name='cpassword'></p>
        <input class="btn btn-primary" type="submit" value="Register">
	</form>

	<h2>Login</h2>
	<form class="form-group inline" action='/login/login' method='post'>
        {% csrf_token %}
        <p>Email: <input class="form-control" type="text" name='email'></p>
        <p>Password: <input class="form-control" type="password" name='password'></p>
        <input class="btn btn-primary" type='submit' value="Login">
	</form>

{% if messages %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
</body>
</html>